{
    "PerpetualMotion": {
        "_id": "PerpetualMotion",
        "album": "Perpetual Motion",
        "cover": "/dist/images/perpetual_motion-playlist_icon.jpg",
        "trackCount": 2,
        "playlist": [
            {
                "_id": 0,
                "title": "Store On the Corner",
                "artist": "Adam De Lucia's Tektonics",
                "mp3": "/dist/audio/store-on-the-corner.mp3"
            },
            {
                "_id": 1,
                "title": "The Far Groove",
                "artist": "Adam De Lucia's Tektonics",
                "mp3": "/dist/audio/the-far-groove.mp3"
            }
        ]
    },
    "RobotSexMachine": {
        "_id": "RobotSexMachine",
        "album": "Robot Sex Machine",
        "cover": "/dist/images/robot_sex_machine-playlist_icon.jpg",
        "trackCount": 2,
        "playlist": [
            {
                "_id": 0,
                "title": "6 Day Regimen",
                "artist": "Adam De Lucia's Tektonics",
                "mp3": "/dist/audio/6-day-regimen.mp3"
            },
            {
                "_id": 1,
                "title": "Carousel",
                "artist": "Adam De Lucia's Tektonics",
                "mp3": "/dist/audio/carousel.mp3"
            }
        ]
    },
    "Hypnotist": {
        "_id": "Hypnotist",
        "album": "Hypnotist",
        "cover": "/dist/images/hypnotist-playlist_icon.jpg",
        "trackCount": 3,
        "playlist": [
            {
                "_id": 0,
                "title": "96 Heart Beats Per Minute",
                "artist": "Adam De Lucia's Tektonics",
                "mp3": "/dist/audio/96-heart-beats-per-minute.mp3"
            },
            {
                "_id": 1,
                "title": "The Theme (Virtue)",
                "artist": "Adam De Lucia's Tektonics",
                "mp3": "/dist/audio/the-theme.mp3"
            },
            {
                "_id": 2,
                "title": "Hip Flop [Take 1]",
                "artist": "Adam De Lucia's Tektonics",
                "mp3": "/dist/audio/hip-flop-take-1.mp3"
            }
        ]
    }
}