@import "partials/memory-mixins";

body {
    @media (min-width: 992px) {
        padding-top: 72px;
    }
}

#memory-player {
    font-family: 'Titillium Web', sans-serif;
    font-size: 10px;
    background-color: rgb(40,40,40);
    border: none 0;
    @include border-radius(0);
    margin-bottom: 0;
    padding: 10px 0;

    @media (min-width: 992px) {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
        padding: 0;
    }

    .container {
        position: relative;
        min-height: 72px;
        font-size: 1.4em;

        @media (min-width: 992px) {
            font-size: 1.6em;
        }
    }
}

#audio-controls {
    .cuing, .volume {
        position: relative;

        @media (min-width: 992px) {
            float: left;
        }
    }

    .cuing {
        width: 165px;
        height: 27px;

        @media (max-width: 991px) and (min-width: 768px) {
            width: 270px;
        }

        @media (min-width: 992px) {
            margin-top: 22.5px;
            margin-right: 35px;
        }
    }

    .volume {
        display: none;

        @media (min-width: 992px) {
            width: 215px;
            height: 20px;
            display: block;
            margin-top: 26px;
        }

        @media (min-device-width: 768px) and (max-device-width: 1024px) {
            display: none;
        }
    }

    .audio-sprite {
        position: absolute;

        &-previous {
            top: 5.5px;
            left: 0;
        }

        &-play-lg {
            left: 50%;
            margin-left: -10px;
        }

        &-pause-lg {
            left: 50%;
            margin-top: 1.5px;
            margin-left: -10.5px;
        }

        &-next {
            top: 5.5px;
            right: 0;
        }

        &-quieter {
            left: 0;
        }

        &-louder {
            right: 0;
            z-index: 10;
        }
    }
}

#cued-playlist-item {
    width: 165px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;

    @media (min-width: 768px) {
        width: 270px;
    }

    @media (min-width: 992px) {
        width: 350px;
        float: right;
        margin-top: 13px;
        margin-right: 110px;
    }

    @media (min-width: 1200px) {
        width: 435px;
        margin-right: 185px;
    }

    .cued-song, .cued-album {
        font-size: 0.8125em;
        margin-bottom: 0;
    }

    .cued-song {
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
    }

    .cued-album {
        font-weight: 300;
        color: rgb(120,120,120);
    }

    .cued-artwork {
        display: none;

        @media (min-width: 992px) {
            float: left;
            display: block;
            margin-right: 12px;
        }
    }
}

#playlists {
    position: absolute;
    top: -10px;
    right: 0;
    float: none;
    margin: 0;

    @media (min-width: 992px) {
        top: 0;
    }

    > li > a {
        font-weight: 300;
        color: rgb(160,160,160);
        text-transform: uppercase;
        padding: 36px 9px;

        @media (min-width: 992px) {
            padding: 26px 15px;
        }

        &:hover, &:focus {
            color: #fff;
        }

        .caret {
            border-width: 8px;
            border-bottom-width: 0;
            margin-top: -3px;
        }
    }

    .open .dropdown-menu {
        position: absolute;
    }

    .dropdown-menu {
        min-width: 320px;
        background-color: rgb(56,56,56);
        border: none 0;
        @include border-radius(0);
        padding-bottom: 20px;

        .playlist {
            margin-bottom: 6px;

            a {
                font-size: 0.8125em;
                font-weight: 300;
                text-transform: uppercase;
                cursor: pointer;
            }

            img {
                margin-right: 12px;
            }
        }

        .song {
            margin-bottom: 6px;

            .audio-sprite {
                position: absolute;
                margin-left: -34px;

                &-play {
                    top: 5.5px;
                }

                &-pause {
                    top: 7px;
                }
            }

            a {
                position: relative;
                font-size: .9375em;
                font-weight: 700;
                cursor: pointer;
                padding-left: 72px;

                &:hover, &:focus {
                    .audio-sprite-play {
                        background-position: -1px -281px;
                    }

                    .audio-sprite-pause {
                        background-position: -1px -315px;
                    }
                }
            }
        }

        > li > a {
            color: #fff;
            background-color: transparent;
            padding-left: 38px;
            padding-right: 38px;

            &:hover, &:focus {
                color: rgb(0,176,240);
                background-color: transparent;
            }
        }

        .dropdown-header {
            font-size: 0.9375em;
            font-weight: 300;
            color: rgb(160,160,160);
            text-transform: uppercase;
            margin-bottom: 12px;
            padding: 0 38px;
        }

        .divider {
            background-color: #fff;
            margin: 20px 0;
        }
    }
}
