
<div class="mp-cued-song mp-dropdown">
    <a data-ng-click="sharing.toggleDropdown({ $event: $event })" class="mp-dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
        {{sharing.currentTrack.title}} <span class="mp-audio-sprite mp-audio-sprite-share"></span>
    </a>
    <!-- .mp-dropdown-toggle -->

    <ul class="mp-dropdown-menu">
        <li class="mp-dropdown-header">
            Share
        </li>
        <!-- .mp-dropdown-header -->
        <li>
            <input type="text" data-ng-model="sharing.sharelink" id="mp-share-link" />
        </li>
        <li class="mp-sharing">
            <div class="mp-start-time">
                <div data-ng-click="sharing.useTime()" class="mp-checkbox">
                    <input type="checkbox" data-ng-checked="sharing.isTimeUsed" />
                    <label></label>
                </div>
                <!-- .mp-checkbox -->
                Start at
                <input type="text" data-ng-model="sharing.sharelinkTime" data-ng-change="sharing.updateTime({ updatedTime: sharelinkTime})" data-ng-focus="sharing.cancelTimer()" spellcheck="false" autocorrect="off" />
            </div>
            <!-- .mp-start-time -->

            <span data-ng-click="sharing.share()" role="button">Copy</span>
        </li>
        <!-- .mp-sharing -->
    </ul>
    <!-- .mp-dropdown-menu -->
</div>
<!-- .mp-cued-song.mp-dropdown -->
